<script>

	$(document).ready( function(){

		// comportamento do menu twitter/fork/rss
		$('#links a').hover( function(){
			$(this).parent().siblings('span').addClass('show')
		}, function(){
			$(this).parent().siblings('span').removeClass('show')
		})

		// substitui o link do Google+ pelo link do autor (geralmente twitter)
		$('.post-autor a').each( function(){
			$(this).attr( 'href', $(this).attr('data-link') )
		})

		// dispara um evento do Google Analytics para qualquer erro JS
		$(window).on( 'error', function( event ){
			var errorMsg = '[Line ' + event.lineno + '] ' + event.message;
			_gaq.push(['_trackEvent', 'Error', event.filename, errorMsg]);
		})

		// google custom search:
		var $inputSearch = null;

		var toggleSearch = function(){

			if( $('#search').hasClass( 'show' ) ){
				hideSearch()
			} else {
				$('#search').addClass( 'show' )
				$inputSearch.focus()
			}
		}

		var hideSearch = function(){
			$('#search').removeClass( 'show' )
		}

		// polling para detectar quando o form do google search foi carregado
		googleSearchPolling = setInterval( function(){

			$inputSearch = $('#search input[type=text]')

			if( $inputSearch.length > 0 ){

				$inputSearch
					.attr( 'placeholder', 'Digite sua busca' )
					.blur( function(){
						hideSearch()
						$inputSearch.val('')
					})
					.keydown( function( event ){
						if( event.keyCode == 13 ){ // enter key
							hideSearch()
						}
					})

				// botao de busca
				$('.search-button').click( function(){
					toggleSearch()
					_gaq.push(['_trackEvent', 'search', 'Botão de busca', 'Botão de busca']);
				})

				clearInterval( googleSearchPolling )
			}
		}, 200 )
	})

	// atalhos do teclado para navegar entre os posts (prev: j, next: k)
	if (document.getElementsByClassName == undefined) {
		document.getElementsByClassName = function(className)
		{
			var hasClassName = new RegExp("(?:^|\\s)" + className + "(?:$|\\s)");
			var allElements = document.getElementsByTagName("*");
			var results = [];

			var element;
			for (var i = 0; (element = allElements[i]) != null; i++) {
				var elementClass = element.className;
				if (elementClass && elementClass.indexOf(className) != -1 && hasClassName.test(elementClass))
					results.push(element);
			}

			return results;
		}
	}

	function onKeyPress(e)
	{
		var chr = String.fromCharCode(e.charCode);
		var num = 0;

		switch(chr)
		{
			case 'j':
				num = currentPic == pictures.length - 1 ? pictures.length - 1 : currentPic + 1;
				gotoPic(num);
				break;
			case 'k':
				num = currentPic == 0 ? 0 : currentPic - 1;
				gotoPic(num);
				break;
		}

	}

	document.addEventListener('keypress',onKeyPress,true);

	var pictures = document.getElementsByClassName('post-container');
	var currentPic = -1;

	function gotoPic(num)
	{
		var picTop = calcTotalOffset(pictures[num]);
		// window.scroll(0,picTop); // comentado pra usar a versão abaixo (animada)
		$('html,body').animate({scrollTop: picTop})
		currentPic = num;
	}

	function calcTotalOffset(node)
	{
		var offset = node.offsetTop;

		while( node != document.body)
		{
			node = node.offsetParent;
			offset += node.offsetTop;
		}

		return offset;
	}

</script>
